<footer class="site__footer">
  <div class="row">
    <div class="large-12 columns text-center">
      <p><strong>Follow us on Facebook:</strong> <a href="{{site.facebook}}">/themoveablefeast</a> | <strong>Watch our videos on Vimeo:</strong> <a href="{{site.vimeo}}">click here</a></p>
      <hr>
      <p class="text-center text-white"><small>&copy; The Moveable Feast workshop Company, Seale Hayne, Newton Abbot, Devon TQ12 6NQ</small></p>
      <p>Call: {{site.telephone}} or email <a href="mailto:{{site.email}}">{{site.email}}</a></p>
    </div>
  </div>
</footer>
