<nav class="site__navigation">
  <div class="menu-centered">
    <ul class="vertical medium-horizontal menu">
      <li><a href="{{ site.baseurl }}/about" class="button">About us</a></li>
      <li><a href="{{ site.baseurl }}/learning" class="button">Learning</a></li>
      <li><a href="{{ site.baseurl }}/aspirational-events" class="button">Positive Futures</a></li>
      <li><a href="{{ site.baseurl }}/for-artists" class="button">For Artists</a></li>
      <li><a href="{{ site.baseurl }}/contact-us" class="button">Contact us</a></li>
    </ul>
  </div>
</nav>
